.profileContainer {
  /*max-width: 500px;*/
  /*margin: 0 auto;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  padding-top: 50px;
  font-size: 24px;
}

.addFriendButton {
  display: inline-block;
  padding-left: 25px;
}

.friends {
  margin-top: 35px;
  height: 15vh;
  padding-top: 35px;
}

.friendCount {
  padding-right: 25px;
}

.friendsListContainer {
  padding-top: 15px;
}

.posts {
  margin-top: 35px;
  height: 15vh;
  /*background: green;*/
}
